@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Colin Murphy</h1>
    <p class="lead">I am a student at the College of San Mateo studying Computer Science.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Github</h2>
        <p>
            My github page.
        </p>
        <p><a class="btn btn-default" href="https://github.com/poilpy">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Projects</h2>
        <p>Side projects that I have worked on.</p>
        <p><a class="btn btn-default" href='Home/SideProjects'> Click Here &raquo;</a></p>
    </div>
</div>